@font-face {
  font-family: "iconfont"; /* Project id 4854204 */
  src: url('iconfont.woff2?t=1742377121855') format('woff2'),
       url('iconfont.woff?t=1742377121855') format('woff'),
       url('iconfont.ttf?t=1742377121855') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guojibanlogo326fanbai-03-03:before {
  content: "\eb8b";
}

.icon-yanjiu:before {
  content: "\e775";
}

.icon-furniture:before {
  content: "\e7f1";
}

.icon-leisure:before {
  content: "\e680";
}

.icon-travelholidayvacat:before {
  content: "\e67b";
}

.icon-bag:before {
  content: "\e661";
}

.icon-dessert:before {
  content: "\e662";
}

.icon-knowledge:before {
  content: "\e72d";
}

.icon-Clothes:before {
  content: "\e62f";
}

.icon-knowledgebase_fill:before {
  content: "\e6a3";
}

.icon-meal:before {
  content: "\e97d";
}

.icon-taxi:before {
  content: "\e8c6";
}

.icon-exercise:before {
  content: "\e646";
}

.icon-audio:before {
  content: "\e695";
}

.icon-study:before {
  content: "\e72e";
}

.icon-activity:before {
  content: "\e76f";
}

.icon-Drinks:before {
  content: "\e61a";
}

.icon-salary:before {
  content: "\e886";
}

.icon-shengdanbingqilin:before {
  content: "\e6fa";
}

.icon-shengdanguaizhang:before {
  content: "\e6fb";
}

.icon-shengdanguo:before {
  content: "\e6fc";
}

.icon-shengdanwancan:before {
  content: "\e6fd";
}

.icon-shengdanliwu:before {
  content: "\e6fe";
}

.icon-shengdanmao:before {
  content: "\e6ff";
}

.icon-shengdanqiu:before {
  content: "\e700";
}

.icon-shengdanlihe:before {
  content: "\e701";
}

.icon-shengdanxuemao:before {
  content: "\e702";
}

.icon-shengdanmilu:before {
  content: "\e703";
}

.icon-shengdanmei:before {
  content: "\e704";
}

.icon-shengdanwu:before {
  content: "\e705";
}

.icon-shengdanxuehua:before {
  content: "\e706";
}

.icon-shengdanzhuangshi:before {
  content: "\e707";
}

.icon-shengdanxiaoxiong:before {
  content: "\e708";
}

.icon-shengdanwanou:before {
  content: "\e709";
}

.icon-shengdanlaorenmao:before {
  content: "\e70a";
}

.icon-shengdanqiqiu:before {
  content: "\e70b";
}

.icon-shengdanwazi:before {
  content: "\e70c";
}

.icon-shengdanshu:before {
  content: "\e70d";
}

